__pycache__/
*.pyc
.venv/
.env
.DS_Store
terraform.tfstate
terraform.tfstate.backup
.terraform/
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars